#formulariosContent
    width:100%
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    padding-top: 20px
    margin-bottom: 80px

    mat-form-field
        width: 40%
        margin-top: 15px
    
    .botonFormulario
        margin-top: 20px
        button
            padding: 0 40px
            border-radius: 3px
h1
    text-align: center

