<div id="formularioEditar" [hidden]="formularioOculto">
    <h3>Edita el viaje: {{viajeAEditar.viaje}}</h3>
    <div id="formulariosContent">
        <form class="formNuevo">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre del viaje</mat-label>
                    <input matInput placeholder="Nombre del viaje" value="{{viajeAEditar.viaje}}" #viaje>
                    <mat-icon matSuffix>location_on</mat-icon>
                    <mat-hint>Pon el nombre del país visitado o evento del viaje</mat-hint>
                </mat-form-field>
            </p>
            <!-- <div class="alertFormError" [hidden]="viaje.valid || viaje.pristine">
                El nombre es obligatorio
            </div> -->
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha del viaje</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Haz clic en el icono"
                        value="{{viajeAEditar.fecha}}" #fecha>
                    <mat-hint>Clic en el icono para elegir fecha de inicio del viaje</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </p>
            <!-- <div class="alertFormError" [hidden]="fecha?.valid || fecha?.pristine">
                La fecha es obligatoria, haz clic en el icono
            </div> -->
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Imagen principal</mat-label>
                    <input matInput placeholder="Imagen principal" value="{{viajeAEditar.imagen}}" #imagen>
                    <mat-icon matSuffix>add_a_photo</mat-icon>
                    <mat-hint>Coloca el enlace a la imagen de portada</mat-hint>
                </mat-form-field>
            </p>
            <!-- <div class="alertFormError" [hidden]="imagen.valid || imagen.pristine">
                La imagen es obligatoria
            </div> -->
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Descripción corta del viaje</mat-label>
                    <input matInput placeholder="Descripción corta del viaje" value="{{viajeAEditar.descripcion}}"
                        #descripcion>
                    <mat-icon matSuffix>description</mat-icon>
                    <mat-hint>Añade una descripción de máximo 120 caracteres</mat-hint>
                </mat-form-field>
            </p>
            <!-- <div class="alertFormError" [hidden]="descripcion.valid || descripcion.pristine">
                <span>
                    la descripción es obligatoria
                </span>
            </div> -->
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Detalle del viaje</mat-label>
                    <input matInput placeholder="Detalle del viaje" value="{{viajeAEditar.detalle}}" #detalle>
                    <mat-icon matSuffix>description</mat-icon>
                    <mat-hint>Añade todo lo que quieras recordar del viaje</mat-hint>
                </mat-form-field>
            </p>
            <!--  <p>
            <mat-form-field appearance="outline">
                <mat-label>Detalles extensos del viaje</mat-label>
                <textarea matInput #detalles></textarea>
                <mat-icon matSuffix>edit_note</mat-icon>
                <mat-hint>Extiéndete con todo lo que quieras recordar</mat-hint>
            </mat-form-field>
        </p> -->
            <!-- <div class="example-button-row, botonFormulario" [disabled] = formNuevoViaje.invalid>
            <button mat-flat-button (click)="creaViaje(viaje.value, fecha.value, imagen.value, descripcion.value, detalle.value)">
            Guardar viaje</button>
        </div> -->
            <div class=" botonFormulario">
                <button type="button" mat-flat-button (click)="modificaViaje({
                    viaje: viaje.value,
                    fecha: fecha.value,
                    imagen: imagen.value,
                    descripcion: descripcion.value,
                    detalle: detalle.value})">
                Actualizar viaje
                </button>
            </div>
        </form>
    </div>
</div>


<!-- Tabla de viajes para poder editar -->


<table mat-table tabla style="min-width: 300px;" [dataSource]="viajes" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="viaje">
        <th mat-header-cell *matHeaderCellDef> VIAJE </th>
        <td mat-cell *matCellDef="let element"> {{element.viaje}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> FECHA </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef> IMAGEN </th>
        <td mat-cell *matCellDef="let element">
            <img class="imgMiniatura" src="{{element.imagen}}">
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> EDITAR </th>
        <td mat-cell *matCellDef="let element; let id = index">
            <section>
                <button class="botonEditar" mat-mini-fab aria-label="Editar" (click)="editViaje(id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </section>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> ELIMINAR </th>
        <td mat-cell *matCellDef="let element; let i = index">
            <section>
                <button class="botonEliminar" mat-mini-fab aria-label="Eliminar" (click)="removeViaje(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </section>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>