.example-card 
  max-width: 100%
  border-color: #18284D


.example-header-image 
  background-image: url('../../../../public/img/icono-montaña50px.JPG')
  background-size: 100% auto

.mat-mdc-card-avatar
    border-radius: 0

.mat-mdc-card-title
    color: #18284D

.mat-mdc-card-subtitle
    color: #969696

.mat-mdc-card-content
    padding: 16px

