.example-card 
  max-width: 100%
  border-color: #18284D


.example-header-image 
  background-image: url('../../../../public/img/icono-montaña50px.JPG')
  background-size: 100% auto

.mat-mdc-card-avatar
    border-radius: 0

.mat-mdc-card-title
    color: #18284D

.mat-mdc-card-subtitle
    color: #969696
    margin: 10px 0

.mat-mdc-card-content
    padding: 16px
    padding-bottom: 50px
  
#cajaVacacion
    width: 30%
    min-width: 350px
    max-width: 600px
  
.mat-mdc-card-actions
  position: absolute
  bottom: 0
  

